body{
    background-color:lightgray;
    font-family:"Verdana";
    text-align:center;
}

h3{
    margin-top:50px;
}

#music{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    max-width:1200px;
}

.bubble{
    width:100px;
    height:100px;
    background-color:blue;
    margin:15px;
    border-radius:100%;
}

p{
    max-width:150px;
}