body{
    background-image:url(images/background1.png);
    background-size:1200px;
    background-repeat:no-repeat;
    background-position:top center;
    background-color:lightsteelblue;
    transition-duration:0.5s;
}

body.switch{
    background-image:url(images/background2.png);
    background-size:1200px;
    background-repeat:no-repeat;
    background-position:top center;
    background-color:rgb(0, 0, 46);
    transition-duration:0.5s;
}

main{
    display:flex;
    flex-direction:row;
    position:absolute;
    top:325px;
    left:790px;
}

section{
    font-size:14px;
    background-color:rgba(193, 226, 254, 0.553);
    border-radius:20%;
    max-width:fit-content;
    height:fit-content;
    padding:9px;
    margin-left:5px;
}

a{
    color:rgb(49, 145, 255);
    text-decoration:none;
    transition-duration:0.5s;
}

section.switch{
    font-size:14px;
    color:white;
}

section.switch li a{
    font-size:14px;
    color:white;
    text-decoration:none;
    transition-duration:0.5s;
}

button{
    transition-duration:.25s;
    width:210px;
    height:105px;
    position:absolute;
    left:563px;
    bottom:355px;
    background-color:rgb(61, 219, 255);
    border-color:rgba(245, 245, 220, 0);
}

button:hover{
    background-color:orangered;
    transition-duration:.25s;
}

button.switch{
    background-color:darkblue;
    transition-duration:.25s;
    bottom:352px;
}

button.switch:hover{
    background-color:rgb(197, 51, 138);
    transition-duration:.25s;
}