body{
    max-width:1920px;
    max-height:1080px;
    background-image:url(images/bluedavisphoto.png);
    background-repeat:no-repeat;
    background-size:cover;
    margin:20px;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:80px;
    color:rgba(255, 192, 54, 1);
    text-shadow:5px 5px rgb(52, 52, 52);
    margin-bottom:10px;
    margin-left:10px;
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:36px;
    color:rgba(255, 192, 54, 1);
    text-shadow:5px 5px rgb(52, 52, 52);
    margin-top:10px;
    margin-bottom:20px;
    margin-left:20px;
}

#quote{
    margin-left:250px;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(255, 255, 255);
    max-width:500px;
    
}


a{
    color:rgb(109, 224, 245);
}

main aside{
    position:absolute;
    left:850px;
    top:30px;
}

section{
    position:absolute;
    top:0;
    left:0;
}

.mappart:hover{
    cursor:pointer;
}

button{
    position:relative;
    left:30px;
    top:20px;
    font-size:28px;
    color:rgba(255, 192, 54, 1);
    background: rgb(0,40,171);
    background: linear-gradient(0deg, rgba(0,40,171,1) 0%, rgba(29,51,255,1) 100%);
    border-style:none;
    border-radius:30%;
    width:120px;
    height:65px;
    cursor:pointer;
}

button:hover{
    background: rgb(56, 120, 216);
    background: linear-gradient(0deg, rgb(13, 70, 155) 0%, rgba(56, 120, 216) 100%);
}

#infobox{
    position:absolute;
    left:-380px;
    top:330px;
    font-size:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:200;
    background-color:rgba(7, 5, 15, 0.644);
    border-radius:15%;
    padding:20px;
    color:rgb(101, 101, 104);
}

section aside{
    position:absolute;
    top:5px;
    left:900px;
}

div{
    position:fixed;
    left:70px;
    top:100px;
    background-color:rgba(7, 5, 15, 0.644);
    border-radius:5%;
    padding:20px;
}

div p{
    color:rgb(208, 211, 223);
    max-width:450px;
    font-size:18px;
}

#para2{
    margin-left:300px;
}

footer{
    position:fixed;
    left:0px;
    bottom:-60px;
    font-size:80px;
    font-family:Arial;
    font-style:Italic;
    color:white;
    mix-blend-mode:difference;
    background-color:rgba(29, 51, 255, 1);
    width:1920px;
    padding-left:20px;
}

section footer{
    text-align:center;
}


.visible{
    transition-duration:.5s;
    opacity:100%;
}

.hidden{
    transition-duration:.5s;
    opacity:0%;
    pointer-events:none;
}